#create-table {
    display: none;
    background-color:antiquewhite;
    margin: 0%;
    position: relative;
    flex-direction: column;
    padding-right: 50%;
}
#create-table #close-create-table {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    margin: 0;
    padding: 0.5rem 1rem;
    background-color:transparent;
    font-size: 1.2rem;
}
#create-table h1 {
    text-align: left;
}

#create-table div {
    width: 50%;
    display: flex;
    flex-direction: column;
}

td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 50%;
    align-self: center;
}

#table {
    margin: 5% 0% 5% 0%
}

td input {
    border: none;
    outline: none;
    background: transparent;
    padding: 3%;
    width: 94%;
}

#create-table input, #create-table button{
    padding: 2% 10% 2% 10%;
    margin: 2% 10% 2% 10%;
}

td:hover {
    filter: brightness(90%);
}